
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>班级答题成绩查询</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-select.min.css">
	<style type="text/css">
		h3 {
			margin: 20px auto 20px auto;
			text-align: center;
		}
		th, td {
			text-align: center;
		}
		.info td {
			font-weight: bold;
		}
		.main {
			display: none;
		}
	</style>
</head>
<body>
	<h3>班级答题成绩查询</h3>	<hr>

	<div class="form-group row">	
		<p class='text-center'>输入行政班级名可筛选，如 数学1401</p>
		<div class="col-xs-offset-1 col-xs-8">
			<select class="selectpicker show-tick form-control" data-live-search="true" id="grade">
				<option>选择班级</option>
				{% for grade in grades %}
					<option value="{{grade}}">{{grade}}</option>
				{% endfor %}
			</select>
		</div>
		<button id="search" class="btn btn-primary btn-mini col-xs-2">查询</button>
	</div>

	<div class="main">
		<p class="text-center">答题人数：<span id="count"></span></p>
		<p class="text-center">平均分：<span id="score"></span></p>
		<div class="table-responsive">
			<table class="table table-bordered table-striped table-condensed">
				<thead>
					<th>姓名</th>
					<th>分数</th>
				</thead>
			</table>
		</div>
	</div>

	<script src="http://upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.2.min.js"></script>

	<script src="/static/js/bootstrap-select.min.js"></script>
	<script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$("#search").click(function() {
				$("tr.c").remove();
				$.get("/start/get_grade/?grade="+$("select#grade").val(), function(result, status) {
					data = JSON.parse(result);
					$("#count").text(data[0][0]);
					if (data[0][1]!=null)
						$("#score").text(parseFloat(data[0][1].toFixed(2)));
					else
						$("#score").text('0');
					for(i=1; i<data.length; i++) {
						tr = "<tr class='c'>"+
							"<td>" + data[i][1] + "</td>"+
							"<td>" + data[i][2] + "</td>"+
						"</tr>";
						$("table").append(tr);
					}
				});
				// console.log(data);
				$("div.main").show();
			})
		})
	</script>
</body>
</html>
